SUPABASE_URL=https://SEU-PROJETO.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlld3F0enJvcG1vc2dvcHd2eGxiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMzAyMTYsImV4cCI6MjA5NjcwNjIxNn0.e09qVvgm-PSkQXc9wNFN2IWwpI13pnTud5-pHyZ7t2M